/Temp
/obj
/Library
*.csproj
*.unityproj
*.sln
*.suo
*.pidb
*.userprefs


# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.user
*.booproj
/TestProject_Dantsev/Library/**
ShaderCache
metadata
ScriptAssemblies
